
body {
  background-color: var(--primary-color)
}
.navbar {
  background-image: var(--background-image);
  background-size: var(--background-size);
  background-position: var(--background-position);
  font-family: "Archivo Black", sans-serif;;
  color:var(--font-color);
  font-weight: 400;
  width: 99vw;
  border-radius: 10px;
 
}
.welcome1 {
  color: var(--font-color); 
}

.menu {
  color: var(--font-color);
}
.menu:hover {
  color: var(--font-color-hover) ;
}
.nav-container {
  position: relative;
  margin: .5%;
  justify-content: center;
}
.pop-box{
  background-color: var(--popup-color);
}
.main-body {
  flex-wrap: wrap;
  position: relative;
  margin:.5%;
  border-radius: 5px;
}
.text {
  color:var(--font-color);
  font-family: "Playfair Display", serif;
}

.form-box {
  display: flex;
  justify-content: space-around;
}
.dropdown-menu {
  background-color: var(--popup-color);
}

.main-card {
  background-color: var(--secondary-color);
  box-shadow: var(--box-shadow);
}
.riddle-card {
  background-color: var(--secondary-color);
  box-shadow: var(--box-shadow);
  width: 100%;
  margin: 0;
}

.footer {
  background-color: var(--secondary-color);
  width: 99%;
  border-radius: 10px;
  margin: .5vw .5vw .5vw 5vw;
  display: block;

}

.logo {
  height: 12vw;
  width: 12vw;
}
.arrows {
  margin: 0;
  padding: 0%;
}
a {
  color: var(--a-color) ;
}
a:hover {
  color: var(--a-color-hover);
}
#weather-icon {
 height: 5rem;
}
.icon-box {
  width: 30vw;
}


.radioButtons {
  margin-left: 4%;
}

[data-theme="garden-view"] {
  --background-image: url('../../public/images/flowers.png');
  --background-size: cover;
  --background-position: 50%;
  --primary-color:#b6cdbd ;
  --box-shadow: 0 0.3rem .6rem rgba(3, 2, 5, 0.664);
  --secondary-color:#95c49b;
  --font-color: rgb(39, 58, 45);
  --font-contrast:rgb(211, 247, 216);
  --popup-color: #f0f7cc;
  --a-color: rgb(36, 5, 211);
  --a-color-hover: rgb(0, 1, 1);

}

[data-theme="synth-wave"] {
  --background-image: url('../../public/images/synthWave.jpg');
  --background-size: 100% 75%;
  --background-position: 50%;
  --primary-color:#41375c ;
  --box-shadow: 0 0.3rem .6rem rgba(3, 2, 5, 0.664);
  --secondary-color:#5e51d6;
  --font-color:  #fcf2f2;
  --popup-color: #e4c6c6;
  --a-color: rgb(160, 149, 221);
  --a-color-hover: rgb(1, 1, 1);

}

[data-theme="night-sky"] {
  --background-image: url('../../public/images/nightSky.jpg');
  --background-size: 100% 100%;
  --background-position: 75%;
  --primary-color:#132a4b ;
  --box-shadow: 0 0.3rem .6rem rgba(3, 2, 5, 0.664);
  --secondary-color:#395580;
  --font-color:  #fcf2f2;
  --font-color-hover: #a6b1e1;
  --popup-color: #a6b1e1;
  --a-color: rgb(123, 135, 173);
  --a-color-hover: rgb(1, 1, 1);
}