
/* X-Small devices ( 5765px and below) */
@media screen and (max-width:575px) {
    .card {
        width: 95vw;
        margin: 1vw;
    }
    .navbar {
        min-height: 10rem;  
    }
    .nav-container {
        margin: .5vw;
    }
}


/* small screen (576 and above)*/
@media screen and  (min-width: 576px) { 
.card {
    min-width: 25rem;
    max-width: 40rem;
    margin: .5vw;
}
.dash-container {
    width: 100%;
}
.navbar {
    min-height: 10rem;  
}
.nav-container {
    margin: .5vw;
}
.top-row-dash {
    height: 25vw;
    max-width: 15.5rem;
    min-width: 15.5rem;
    margin: .5vw 0;
}
}

/* Medium devices (tablets, 768px and up) */
@media screen and  (min-width: 768px) { 
    .card {
        min-width: 25rem;
        max-width: 50rem;
        margin: .5vw 0;
    }
    .dash-container {
        width: 100%;
    }
    .navbar {
        min-height: 10rem;  
    }
    .nav-container {
        margin: .5vw;
    }
    .top-row-dash {
        height: 20vw;
        min-width: 20rem;
        max-width: 21rem;
        margin:.5vw 0vw;
    }
 }

/* Large devices (desktops, 992px and up) */
@media screen and  (min-width: 992px) { }

/* X-Large devices (large desktops, 1200px and up) */
@media screen and  (min-width: 1200px) {  }

/* XX-Large devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) { }

